In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('UCI_Credit_Card.csv')

In [3]:
data.shape

(30000, 25)

In [4]:
data['PAY_0'] = data['PAY_0'].apply(lambda x : x if x >0 else 0)
data['PAY_2'] = data['PAY_2'].apply(lambda x : x if x >0 else 0)
data['PAY_3'] = data['PAY_3'].apply(lambda x : x if x >0 else 0)
data['PAY_4'] = data['PAY_4'].apply(lambda x : x if x >0 else 0)
data['PAY_5'] = data['PAY_5'].apply(lambda x : x if x >0 else 0)
data['PAY_6'] = data['PAY_6'].apply(lambda x : x if x >0 else 0)

In [5]:
np.random.seed(100)
index_1 = np.random.randint(len(data), size = len(data)//1123)
index_1

array([ 5640, 23320, 14147, 24423, 12119,    79, 16304, 16734, 14260,
       10082, 20533, 13890,  7906,  5646, 17186, 13297, 10992, 20760,
       26255, 11492, 26475, 17724,  7738, 11152,  9723,  5769])

In [6]:
data.loc[index_1,'PAY_AMT1'] = np.nan

In [7]:
np.random.seed(10)
index_2 = np.random.randint(len(data), size = len(data)//10000)
index_2

array([17673,  7293, 29199])

In [8]:
col = ['PAY_0', 'PAY_2', 'BILL_AMT1', 'BILL_AMT4', 'BILL_AMT6', 'PAY_AMT1', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6']
data.loc[index_2,col] = np.nan

In [9]:
data.isnull().sum()

ID                             0
LIMIT_BAL                      0
SEX                            0
EDUCATION                      0
MARRIAGE                       0
AGE                            0
PAY_0                          3
PAY_2                          3
PAY_3                          0
PAY_4                          0
PAY_5                          0
PAY_6                          0
BILL_AMT1                      3
BILL_AMT2                      0
BILL_AMT3                      0
BILL_AMT4                      3
BILL_AMT5                      0
BILL_AMT6                      3
PAY_AMT1                      29
PAY_AMT2                       0
PAY_AMT3                       3
PAY_AMT4                       3
PAY_AMT5                       3
PAY_AMT6                       3
default.payment.next.month     0
dtype: int64

In [11]:
data = data.rename(columns = {'default.payment.next.month' : 'DEFAULT'})

In [12]:
data.to_csv('UCI_Credit_Card_Modified.csv', index = False)